<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>

<body>
    <h1>Login</h1>
    <% if(messages.error) { %>
        <%= messages.error %>
    <% } %>
    
    <form method="post" action="/login"> <!-- Add the form element -->
        <div>
            <label for="email">Email</label>
            <input type="email" name="email" id="email" email="email">
        </div>
        <div>
            <label for="password">Password</label>
            <input type="password" name="password" id="password" password="password">
        </div>
        <button type="submit">Login</button>
    </form> <!-- Close the form element -->

    <a href="/register">Register</a>
</body>

</html>
